<div  class="row-fluid form-wrapper">

	<div><h4><a class="btn-flat danger backButton">REVENIR</a></h4></div>

	<form class="form-horizontal footer-generator" id="{{device}}-generator" method="post" action="#" style="margin-top:30px">

			<h3>{{{deviceName}}}</h3>

			<div class="control-group">
				<label class="control-label" for="logo">Logo</label>
				<div class="controls">
					<img src="{{{srcLogo}}" width="150" height="150">
					<input type="hidden" value="{{{srcLogo}}" name="logo">
					<input type="hidden" value="{{device}}" name="device">
					<input type="hidden" value="{{campaignID}}" name="campaignID">
					<input type="hidden" value="{{trackLink}}" name="trackLink">
					<input type="hidden" value="{{campaignName}}" name="campaignName">
					<input type="hidden" value="store" name="format">
				</div>
			</div>
			<div class="field-box">
				<label  for="name">Nom de l application</label>
					<input type="text" id="name" class="span8" value="{{appName}}" name="texts[appName][content]">
			</div>

			<div class="field-box">
				<label for="by">Par : </label>
					<input type="text" id="by"  value="{{editor}}" class="span8" name="texts[editor][content]">
			</div>

			<div class="field-box">
				<label for="nbComments">Nombre de commentaires</label>
					<input class="input-mini" id="nbComments" type="text"  value="{{nbComments}}" name="texts[comments][content]">
			</div>

			<div class="field-box">
				<label  for="nbStars">Nombre d étoiles</label>
					<input class="input-mini" id="nbStars" type="text"  value="{{nbStars}}" name="extras[images][stars][src]">
			</div>


			<div class="field-box">
				<label  for="lang">Pays de la campagne</label>
				<label class="checkbox">
					><span><input type="radio" value="fr" name="lang" checked></span>FR
				</label>

				<label class="checkbox">
					<span><input type="radio" value="uk" name="lang"></span>UK 
				</label>
			</div>


			<div class="field-box">
				<label for="monochrome">Store ?</label>
				<label class="checkbox">
					<span><input type="checkbox" value="store" name="format" class="showForm"></span>Oui 
				</label>
			</div>

			<div class="hide">

				{{#if multiColor}}
					<div class="field-box">
						<label  for="colors">Couleurs</label>
							<label class="checkbox">
								<input type="checkbox"value="red" name="store[color]">
									Rouge
							<label class="checkbox">
								<input type="checkbox" value="blue" name="store[color]">
									Bleu
							</label>
							<label class="checkbox">
								<input type="checkbox" value="green" name="store[color]">
									Vert
							</label>
							<label class="checkbox">
								<input type="checkbox" value="grey" name="store[color]">
									Gris
							</label>
					</div>
				{{/if}}

				<div class="field-box">
					<label  for="sizes">Tailles</label>
						<label class="checkbox">
							<input type="checkbox"  value="100" name="store[size]">
								100px
						</label>
						<label class="checkbox">
							<input type="checkbox"  value="120" name="store[size]">
								120px
						</label>
						<label class="checkbox">
							<input type="checkbox"  value="150" name="store[size]">
								150px
						</label>
				</div>

			</div>

			<div class="field-box">
				<label for="monochrome">Monochrome ?</label>
				<label class="checkbox">
					<span><input type="checkbox" value="monochrome" name="format" class="showForm"></span>Oui 
				</label>
			</div>

			<div class="hide">

				<div class="field-box">
					<label  for="nbStars">Code Couleur Liseret Monochrome</label>
						<input class="input-large color" id="liseretMonochrome"  type="text" pattern="[a-fA-F0-9]{6}" name="monochrome[texts][punchline][color]">
						<input type="hidden" id="liseretColor" name="monochrome[extras][shapes][liseret][color]">
						<input type="hidden" id="arrowColor" name="monochrome[htmlVars][arrow-color]">
						<input type="hidden" id="punchline-content"  value="{{editor}}" class="span8" name="monochrome[texts][punchline][content]">
				</div>

			<div class="field-box">
				<label for="colors">Tailles Monochrome</label>
					<label class="checkbox">
						<input type="checkbox" value="100" name="monochrome[size]">
							100px
					</label>
					<label class="checkbox">
						<input type="checkbox" value="120" name="monochrome[size]">
							120px
					</label>
					<label class="checkbox">
						<input type="checkbox" value="150" name="monochrome[size]">
							150px
					</label>
			</div>

			</div>



			<div class="field-box">
					<button type="submit" class="btn submit-footer btn-glow primary generate-footer">Générer les Footers</button>
					<button type="submit" class="btn submit-footer btn-glow primary preview-mode preview-footer">Faire Une Preview</button>
			</div>
</form>
</div>